#contact {
    width: 100%;
    height: 100vh;
    background: top center;
    background-size: cover;
}

mat-card{
    max-width:700px;
    background-color: rgba(249, 235, 250, 0.8);
}

mat-card-title{
    font-family: 'Sansita Swashed', cursive;
    color:#1f1726;
}

.thank-you{
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.btn{
    background-color: #664873;
    color:white;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

mat-card-actions{
    text-align: center;
}
