<section id="skills" [ngStyle]="{backgroundImage:'url(assets/imgs/bg2.jpg)'}" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid">

        <div class="row justify-content-center">
        <!--Skill cards-->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10" data-aos="fade-right" data-aos-duration="2000">
        
            <mat-card class="programming-card" >
                <mat-card-title>Programming</mat-card-title>
                <mat-card-content>
                    <span style="font-weight:500;">Programming languages:</span> TypeScript, JavaScript, C++, Python, Java, C#, PHP<br>
                    <span style="font-weight:500;">Frameworks:</span> Angular, React, Flask, BootStrap<br>
                    <span style="font-weight:500;">Databases:</span> MySQL, Google Firestore (NoSQL), PostgreSQL, Elasticsearch<br>
                    <span style="font-weight:500;">Other:</span> HTML, CSS, SCSS, Node.js, OpenCV, OpenGL
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10" data-aos="fade-up" data-aos-duration="2000">
        
            <mat-card class="other-card">
                <mat-card-title>Tools</mat-card-title>
                <mat-card-content><span style="font-weight:500;">IDEs:</span> Visual Studio Code, Visual Studio, PyCharm, Eclipse<br>
                    <span style="font-weight:500;">Version control:</span> GitHub, GitLab<br>
                    <span style="font-weight:500;">Methodologies:</span> Agile, Scrum<br>
                    <span style="font-weight:500;">Other: </span>Unity, Microsoft Office, Trello, Slack</mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10" data-aos="fade-left" data-aos-duration="2000">
        
            <mat-card class="languages-card">
                <mat-card-title>Languages</mat-card-title>
                <mat-card-content><span style="font-weight:500;">Finnish:</span> Native<br>
                    <span style="font-weight:500;">English, Russian:</span> Bilingual Proficiency<br>
                    <span style="font-weight:500;">French, Swedish: </span>Professional working proficiency<br>
                    <span style="font-weight:500;">German, Spanish: </span>Elementary Proficiency</mat-card-content>
            </mat-card>
        </div>
    </div>
    </div>

</section>
