
<section id="home" [ngStyle]="{backgroundImage:'url(assets/imgs/bg1.jpg)'}" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <div class="title-container">
            <div class="title-text">
                <h1 class="mt-3 hi-title">Hi, I'm</h1>
        <h1 class="mt-3 title" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="2000">Diana Zitting-Rioux</h1>
        <p data-aos="zoom-in" data-aos-delay="1500" data-aos-duration="2000">(Full Stack) Developer</p>
        </div>
        
    </div>
    </div>
</section>
